@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}


header {
    height: 100px;
    background: #171717;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo {
    width: 30%;
    float: left;
    line-height: 100px;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    letter-spacing: 5px;
    margin-left: 35%;
}

.wctxt {
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    color: #171717;
    letter-spacing: 4px;
    font-weight: bold;
    text-align: center;
}

.fbtn {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .fbtn:hover {
        background-color: #1e293b;
        color: #fff;
    }

@media (min-width: 768px) {
    .fbtn {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

footer {
    height: 50px;
    background: #171717;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.ftext {
    width: 30%;
    float: left;
    line-height: 10px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    letter-spacing: 5px;
    margin-left: 35%;
}
